@page "/leaderboard"
@using JumpMapElo.Blazor.Models

@inject IRatingRepository RatingRepository

<div style="display: flex; justify-content: center; flex-direction: column;">
    <h3>Leaderboard</h3>
</div>
    <div style="display: flex; justify-content: center; flex-direction: column;">
@if (_mapRatings == null)
{
    <i>Loading...</i>
}
else if (!_mapRatings.Any())
{
    <strong>No results found, vote first.</strong>
}
else
{
    <table>
        <thead>
        <tr>
            <td>Map Name</td>
            <td>Elo Rating</td>
        </tr>
        </thead>
        <tbody>
            @foreach (var mapRating in _mapRatings.OrderByDescending(x => x.Elo))
            {
                <tr>
                    <td>@mapRating.MapName</td>
                    <td>@mapRating.Elo</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
@code {
    private IReadOnlyList<MapRating> _mapRatings;

    protected override async Task OnInitializedAsync()
    {
        _mapRatings = await RatingRepository.GetAll();
    }

}