@inherits LayoutComponentBase

<div style="width: 100vw; min-height: 100vh; display: flex; flex-direction: column">
    <div style="height: 64px; 
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: #1d2124;">
        <NavLink style="color: white; height: 100%; padding: 6px 32px; display: flex; align-items: center; justify-content: center;" Match="NavLinkMatch.All" href="/Soldier">
            Rate Soldier Maps
        </NavLink>
        <NavLink style="color: white; height: 100%; padding: 6px 32px; display: flex; align-items: center; justify-content: center;" Match="NavLinkMatch.All" href="/Demoman">
            Rate Demoman Maps
        </NavLink>
        <NavLink style="color: white; height: 100%; padding: 6px 32px; display: flex; align-items: center; justify-content: center;" Match="NavLinkMatch.All" href="/leaderboard">
            Leaderboard
        </NavLink>
    </div>
    <div style="min-height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; flex-grow: 1; background: #7abaff; padding: 8px;">
        <div style="min-height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; background: white; flex-grow: 1;">
            @Body
        </div>
    </div>
</div>